<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<meta charset="UTF-8">
</head>
<body>

<form action="/Yoon/write" method="post">
	
	<input type="text" name="create_id" id="create_id"/>

	<input type="text" name="author" id="author"/>

	<button type="submit">Submit</button>
</form>
</body>
</html>